{% extends 'getrout.html.twig' %}
{% block title %}About Us!{% endblock %}
{% block body %}
<style type="text/css">
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

.card-pink {
    border-radius: 6px;
    border-bottom: 4px solid #ff2c95 !important;
}

.card-blue {
    border-radius: 6px;
    border-bottom: 4px solid #1c68b3 !important;
}

.col .card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-body {
    padding: 1rem 1.5rem;
}

.card-body p {
    color: #4b5563;
}

.card-blue svg {
    fill: #1c68b3;
}

.card-pink svg {
    fill: #ff2c95;
}

.card-blue .card-footer p {
    color: #1c68b3;
}

.card-footer small{
    font-size:15px;
}

.card-pink .card-footer p {
    color: #ff2c95;
}

.card-shape {
    height: 110px;
    position: relative;
}
.card-img-top{
    position: relative;
    top: -180px;
}

.custom-shape-divider-bottom-1634717805 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634717805 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.custom-shape-divider-bottom-1634717805 .shape-fill {
    fill: #ffffff;
}

.vision-head {
    font-size: 80px;
}
.titlehead h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align:right
}
.titlehead span{
    color: #32be8f;
}
.banerimg{
    width: 90%;
}
.lastimg{
    width: 500px;
}
.lastsection{
    padding: 60px 0px;
    margin-top: 40px;
}
.myoffset{
        margin-left: 8.3333%;
    }
@media (max-width:767px) {

    .vision-head {
        font-size: 40px;
        text-align: center;
    }
    .banerimg{
        width: 80% !important;
   }
   .bnrsection {
       text-align: center; 
    }
    .card-shape{
        height: 100px;
    }
    .mobpad{
        padding-top: 200px;
    }
    .titlehead h1{
      text-align:center;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
    }
    .lastimg{
        width: 100%;
    }
    .lastsection{
        padding: 0px 0px;
        margin-top: 0px;
    }
    .myoffset{
        margin-left: 0px;
    }
}
</style>

<body>
    {# <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">About Us</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 ">
                    <div class="bnrsection">
                        <img  src="assets/img/about/about.png" alt=""
                         class="banerimg">
                        <h1 class="vision-head">Our vision <br>& Our Mission </h1>
                        <h5><i> Finanzi: Empowering businesses with financial literacy</i></h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <div class="about-wrapper">
                        <h2 class="intro-title">Know Us</h2>
                        <p class="intro-desc">
                            Finanzi is a safe place for startup owners, entrepreneurs, and freelancers to meet every financial need under one roof.
                            As your tech-focussed, cloud-based and AI-powered financial game changer, our vision is to become the #1 place businesses seek to seamlessly manage finances and stay financially fit.
                            When you choose us, you choose more than mediocre financial services.
                            You become part of the exclusive group of business leaders who are financially aware and well-informed about their business standing, legal compliances and requirements. You choose to enter the small population of entrepreneurs who are serious about finances.
                        </p>
                        <h5>Here’s how we stand apart at Finanzi</h5>
                        <ul style="list-style: circle;padding: 20px;">                            
                            <li>● Get free ITR filing for the first year if you are a startup</li>
                            <li>● Expert guidance and assistance in investment planning through our investment partners</li>
                            <li>● Get featured in our community and unlock new business opportunities through our network</li>
                            <li>● Save time and money with our hassle-free process</li>
                        </ul>
                        <p>We are more than finance managers. We are your best partners and advisors to take bold, long-term business decisions, a powerful ally in finance and business planning, and empower you to tap the hidden potential of your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-12">
                    <div class="titlehead">
                        <h1>Our Leadership Team</spen></h1>                        
                    </div>
                    
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top:170px;">
                    <div class="col-md-6 " >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/t2.jpg" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">CA Shashwat Gulati</h5>
                                <small class="text-muted">CEO, Co-founder</small>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-6 mobpad" >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/t4.jpg" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">CA Pushpanjali Gupta</h5>
                                <small class="text-muted">COO, Co-founder</small>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top:190px;">
                    <div class="col-md-6" >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/t3.jpg" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    {# <p class="font-italic mt-2 mb-6">
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                                    </p> #}
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">CA Prashant Gupta</h5>
                                <small class="text-muted">Head of Tax Department </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mobpad" >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/t1.jpg" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">Kanchan Gusain</h5>
                                <small class="text-muted">Head of Compliance and Accounts</small>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top:190px;">
                    <div class="col-md-6" >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/t5.jpeg" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    {# <p class="font-italic mt-2 mb-6">
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                                    </p> #}
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">Shiva Sharma</h5>
                                <small class="text-muted">CMO </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mobpad" >
                        <div class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0">
                            <div class="card-shape">
                                <img src="assets/img/about/aman.jfif" class="card-img-top rounded-circle" alt="Jane" style="width:55%;">                                
                            </div>
                            <div class="card-body">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.082 475.081" x="0px" y="0px" width="25px" height="25px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                                        <g>
                                            <g>
                                                <path d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z" />
                                                <path d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0 font-weight-bolder" style="color:#ff2c95">Aman Sharma</h5>
                                <small class="text-muted">CTO </small>
                            </div>
                        </div>
                    </div>                
                </div>              
            </div>
    </section>
    <section class="lastsection">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 ">
                    <img src="assets/img/about/AboutUsimage.png" class="lastimg" >
                </div>
                <div class="col-md-6 col-sm-6 myoffset" >
                    <div class="head-faq text-center shadow" style="border-radius: 40px;padding: 26px 26px 26px 26px !important;box-shadow: 0 0 15px rgba(143, 143, 143, .18);">
                        <h5 style="color:black !important;font-weight: 900; letter-spacing: 1px; font-size: 20px;">Get to know us why we are your financial magicians!!! We would love to interact with you and discover how Finanzi can be you <span style="color:red;">FINANCIAL GAME CHANGER</span> </h5>
                    </div>
                    <div class="head-faq text-center shadow" style="border-radius: 40px;padding: 26px 26px 26px 26px !important;box-shadow: 0 0 15px rgba(143, 143, 143, .18);">                        
                        <h5 style="color:black !important;font-weight: 900; letter-spacing: 1px; font-size: 20px;">Our finance executive is waiting for you on the other side!
                            Finanzi has already saved more than <span style="color:red;"> 100 crores </span>for our clients with tax planning and savings. Get in touch to discover how we can supercharge your finances!
                        </h5>

                    </div>
                    <div class="head-faq text-center">
                        <a href="/register" class="btn btn-common btn-lg"><strong> Get started</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}