<form method="post" action="{{ path('app_eventbooking_delete', {'id': eventbooking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eventbooking.id) }}">
    <button class="btn">Delete</button>
</form>
