{% extends 'getrout.html.twig' %}

{% block title %} affiliate!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Affiliate</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Affiliates</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar" style="border-right: 1px solid #F0F1F4;">
                    <aside>
                        <div class="sidebar-box">
                            <div class="user">
                                <figure>
                                    <a href="#"><img src="uploads/brochures/{{app.user.imgicon}}" alt="" style="height:100px;width:100px;"></a>
                                </figure>
                                <div class="usercontent">
                                    <h3>{{app.user.name}}</h3>                                    
                                </div>
                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a  href="dashboard">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>My Order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="userprofile" class="active">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mywallet" >
                                            <i class="lni-wallet"></i>
                                            <span>My Wallet</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="offermessages.html">
                                            <i class="lni-envelope"></i>
                                            <span>Offers/Messages</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="payments.html">
                                            <i class="lni-wallet"></i>
                                            <span>Payments</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        
                    </aside>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="row page-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                            <div class="inner-box1">
                                <div class="dashboard-box">
                                    <h2 class="dashbord-title">Affiliate</h2>
                                </div> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
  
    <script>
    $('#summernote').summernote({
        height: 250, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: false // set focus to editable area after initializing summernote
    });
    </script>
</body>
{% endblock %}
