{% extends 'getrout.html.twig' %}
{% block title %}Hello DashboardController!{% endblock %}
{% block body %}
{% include 'datepic.html.twig' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .tracking-detail {
  padding: 3rem 0;
}
#tracking {
  margin-bottom: 1rem;
}
/*[class*="tracking-status-"] p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
[class*="tracking-status-"] {
  padding: 1.6rem 0;
}*/
.tracking-list {
  border: 1px dashed  #e5e5e5;
}
.tracking-item {
  border-left: 4px solid #40e0d0;
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 3rem;
  min-height: 5rem;
}
.tracking-item:last-child {
  padding-bottom: 4rem;
}
.tracking-item .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item .tracking-content {
  padding: 0.5rem 0.8rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}
.tracking-item .tracking-content span {
  display: block;
  color: #767676;
  font-size: 13px;
}
.tracking-item .tracking-icon {
  position: absolute;
  left: -0.7rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  color: #fff;
}

.tracking-item-pending {
  border-left: 4px solid #d6d6d6;
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 3rem;
  min-height: 5rem;
}
.tracking-item-pending:last-child {
  padding-bottom: 4rem;
}
.tracking-item-pending .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item-pending .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item-pending .tracking-content {
  padding: 0.5rem 0.8rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}
.tracking-item-pending .tracking-content span {
  display: block;
  color: #767676;
  font-size: 13px;
}
.tracking-item-pending .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -0.7rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #d6d6d6;
}
.tracking-item-pending .tracking-content {
  font-weight: 600;
  font-size: 17px;
}

.tracking-item .tracking-icon.status-current {
  width: 1.9rem;
  height: 1.9rem;
  left: -1.1rem;
}
.tracking-item .tracking-icon.status-intransit {
  color: #40e0d0;
  font-size: 0.6rem;
}
.tracking-item .tracking-icon.status-current {
  color: #40e0d0;
  font-size: 0.6rem;
}
@media (min-width: 992px) {
  .tracking-item {
    margin-left: 7rem;
  }
  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }
  .tracking-item .tracking-date span {
    display: block;
  }
  .tracking-item .tracking-content {
    padding: 0;
    background-color: transparent;
  }

  .tracking-item-pending {
    margin-left: 7rem;
  }
  .tracking-item-pending .tracking-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }
  .tracking-item-pending .tracking-date span {
    display: block;
  }
  .tracking-item-pending .tracking-content {
    padding: 0;
    background-color: transparent;
  }
}

.tracking-item .tracking-content {
  font-weight: 600;
  font-size: 17px;
}

.blinker {
  border: 7px solid #e9f8ea;
  animation: blink 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  50% {
    border-color: #fff;
  }
}
hr.new2 {
  border-top: 1px dashed grey;
  margin: 10px 25px;
}

.btn12 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1px 2px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn12:hover {
  background-color: RoyalBlue;
}
.noimg{
    text-align: center;
}


</style>

<body>
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Dashbord</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar" style="border-right: 1px solid #F0F1F4;">
                    <aside>
                        <div class="sidebar-box">
                            <div class="user">
                                <figure>
                                    <a href="#"><img src="assets/uploads/brochures/{{app.user.imgicon}}" alt="" style="height:100px;width:100px;"></a>
                                </figure>
                                <div class="usercontent">
                                    <h3>{{app.user.name}}</h3>
                                </div>
                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a class="active" href="dashboard">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>My Order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="userprofile">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mywallet">
                                            <i class="lni-wallet"></i>
                                            <span>My Wallet</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="affiliate">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Affiliate</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="club">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Club</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="payments.html">
                                            <i class="lni-wallet"></i>
                                            <span>Payments</span>
                                        </a>
                                    </li>
                                    {# <li>
                                        <a href="account-favourite-ads.html">
                                            <i class="lni-heart"></i>
                                            <span>My Favourites</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="privacy-setting.html">
                                            <i class="lni-star"></i>
                                            <span>Privacy Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni-enter"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li> #}
                                </ul>
                            </nav>
                        </div>
                        {# <div class="widget">
                            <h4 class="widget-title">Advertisement</h4>
                            <div class="add-box">
                                <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                            </div>
                        </div> #}
                    </aside>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="page-content">
                        <div class="inner-box1">
                            <div class="dashboard-box">
                                <h2 class="dashbord-title">Dashboard</h2>
                            </div>
                            <div class="dashboard-wrapper">
                                <div class="dashboard-sections">
                                    {% if order|length ==0 %}
                                    <div class="row ">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="dashboardbox">
                                                <div class="noimg">
                                                    <img src="assets/img/details/kindpng_1749396.png" height="300px;">
                                                </div>
                                                <div class="post-btn">
                                                <h4>place user order</h4>
                                                    <a class="btn btn-common" href="services" style="border-radius:30px;font-size: 22px;"><i class="lni-plus"></i> Add Product</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="faq ">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                {% include '/dashboard/order.html.twig' %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                
                                {% endif %}
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include  'footer.html.twig' %}
</body>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("#notes").hide();
    $("#shownots").click(function() {
        $("#notes").toggle();
    });
});
</script>
{% endblock %}