{# {% extends 'getrout.html.twig' %} #}
{% extends 'dashstyle.html.twig' %}
{% block title %}My Wallet{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

.card1 {

    min-height: 400px;

    border-radius: 10px;
    background: white;
}

.card1 .card1-header1 {
    width: 100%;
    height: 156px;
    border-radius: 10px 10px 0px 0px;
}

.card1 .card1-header1 img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card1 .card1-body {
    width: 100%;
    height: auto;
    padding: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card1 .card1-body .card1-title {
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    color: var(--dark-blue);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.card1 .card1-body .card1-text {
    width: 100%;
    color: var(--desaturated-blue);
    text-align: center;
    line-height: 25px;
    padding: 15px 0px;
    box-sizing: border-box;
}

.card1 .card1-body .card1-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    background: var(--very-pale-blue);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.card1 .card1-body .card1-plan .card1-plan-img {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card1 .card1-body .card1-plan .card1-plan-text {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.card1 .card1-body .card1-plan .card1-plan-text .card1-plan-title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 14px;
}

.card1 .card1-body .card1-plan .card1-plan-text .card1-plan-price {
    color: var(--desaturated-blue);
    font-size: 14px;
}

.card1 .card1-body .card1-plan .card1-plan-link {
    flex-grow: 1;
}

.card1 .card1-body .card1-plan .card1-plan-link a {
    color: var(--bright-blue);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

}

.card1 .card1-body .card1-plan .card1-plan-link a:hover {
    color: #766cf1;
    text-decoration: none;
    ;
}

.card1 .card1-body .card1-payment-button {
    padding: 25px 0px 15px;
    box-sizing: border-box;
}

.card1 .card1-body .card1-payment-button a {
    width: 150px;
    height: 50px;
    border: 0;
    padding: 20px;
    background: var(--bright-blue);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px hsl(245deg 75% 52% / 44%);
    cursor: pointer;
}

.card1 .card1-body .card1-payment-button a:hover {
    background: #766cf1;
}

.card1 .card1-body .card1-cancel-button {
    padding: 15px 0px;
    box-sizing: border-box;
}

.card1 .card1-body .card1-cancel-button a {
    width: 100%;
    border: 0;
    background: none;
    color: var(--desaturated-blue);
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

.card1 .card1-body .card1-cancel-button a:hover {
    color: var(--dark-blue);
}
@media (max-width:767px) {
 .card1 .card1-body .card1-payment-button a {
    width: 100px !important;
    height: 30px;
    border: 0;
    padding: 8px;
    font-size: 10px !important;
    background: var(--bright-blue);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px hsl(245deg 75% 52% / 44%);
    cursor: pointer;
}
}
</style>

<body>
      
    <div class="wrapper">
        {% include '/dashboard/nev.html.twig' %}
        <div class="main">
            <nav class="navbar navbar-expand navbar-theme">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
                {# <form class="form-inline d-none d-sm-inline-block">
                    <input class="form-control form-control-lite" type="text" placeholder="Search projects...">
                </form> #}
                {{ render(controller(
                    'App\\Controller\\DashboardController::recentArticles'
                )) }}
            </nav>
            <main class="content">
                <div class="container-fluid">
                    <div class="header">
                        <h1 class="header-title">
                            Profile
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">                                
                                <div class="card-body">
                                    <div class="inner-box1">
                                        <div class="dashboard-box">
                                            <h2 class="dashbord-title"></h2>
                                        </div>
                                        <div class="dashboard-wrapper">
                                            <section id="pricing-table" class="section-padding">
                                                <div class="container">
                                                    <div class="row">
                                                                    <div class="col mt-0">
                                                                        <h5 class="card-title">My Wallet Balance</h5>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <div class="avatar">
                                                                            <div class="avatar-title rounded-circle bg-primary-dark">
                                                                               {#  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-middle">
                                                                                    <circle cx="9" cy="21" r="1"></circle>
                                                                                    <circle cx="20" cy="21" r="1"></circle>
                                                                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                                                                </svg> #}
                                                                                <i class="lni-wallet"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h1 class="display-5 mt-1 mb-3">{{Wellet}} Points</h1>
                                                                {# <div class="mb-0">
                                                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.50% </span>
                                                                    More visitors than usual
                                                                </div> #}
                                                    <div class="row">
                                                        <div class="col-12" style="text-align: center;">
                                                            <h2 class="section-title">Redeem Now</h2>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                                            <div class="card1">
                                                                <div class="card1-header1">
                                                                    <img src="assets\img\featured\ser.jpg" alt="">
                                                                </div>
                                                                <div class="card1-body">
                                                                    <div class="card1-title">Services</div>
                                                                    <div class="card1-text">Redeem your wallet points while purchasing any of our services</div>
                                                                    <div class="card1-payment-button" style="text-align: center;">
                                                                        <a href="services" >Proceed to Services</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                                            <div class="card1">
                                                                <div class="card1-header1">
                                                                    <img src="assets\img\featured\vo.webp" alt="">
                                                                </div>
                                                                <div class="card1-body">
                                                                    <div class="card1-title">Vouchers</div>
                                                                    <div class="card1-text">Redeem your wallet points against exciting vouchers</div>
                                                                    <div class="card1-payment-button" style="text-align: center;">
                                                                        <a href="voucher">Proceed to Vouchers</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
             
        </div>
    </div>
    <svg width="0" height="0" style="position:absolute">
        <defs>
            <symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
                <path d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
                </path>
            </symbol>
        </defs>
    </svg>
    
</body>
{% endblock %}