<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Modular Template Patterns</title>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        <h2>PHP Upload File</h2>
        <label for="file_name">Filename:</label>
        <input type="file" name="anyfile" id="anyfile">
        <input type="submit" name="submit" value="Upload">
        <p><strong>Note:</strong> Only .jpg, .jpeg, .gif, .png formats allowed to a max size of 5 MB.</p>
    </form>
    {# <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- EMAIL CONTAINER // -->
                    <!--
                            The table "emailBody" is the email's container.
                            Its width can be set to 100% for a color band
                            that spans the width of the page.
                        -->
                    <table border="0" cellpadding="0" cellspacing="0" width="800" id="emailBody">
                        <!-- MODULE ROW // -->
                        <tr>
                            <td align="center" valign="top">
                                <!-- CENTERING TABLE // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" valign="top">
                                            <!-- FLEXIBLE CONTAINER // -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="800" class="flexibleContainer">
                                                <tr>
                                                    <td align="center" valign="top" width="800" class="flexibleContainerCell">
                                                        <!-- CONTENT TABLE // -->
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top" align="center" class="imageContentLast">
                                                                    <img src="assets/img/logo.png" width="250" class="flexibleImage" style="max-width:250px;" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // FLEXIBLE CONTAINER -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CENTERING TABLE -->
                            </td>
                        </tr>
                        <!-- // MODULE ROW -->
                        <tr>
                            <td align="center" valign="top">
                                <!-- CENTERING TABLE // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" valign="top">
                                            <!-- FLEXIBLE CONTAINER // -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="800" class="flexibleContainer">
                                                <tr>
                                                    <td align="center" valign="top" width="800" class="flexibleContainerCell bottomShim">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                                            <tr>
                                                                <td valign="top" class="nestedContainerCell">
                                                                    <!-- CONTENT TABLE // -->
                                                                    <table align="Left" border="0" cellpadding="0" cellspacing="0" width="480" class="flexibleContainer">
                                                                        <tr>
                                                                            <td valign="top" align="center" class="textContent">
                                                                                <h3>We're so happy<br> to have you here.</h3>
                                                                                <br />
                                                                                Congratulations on choosing the best strategic partner. Get ready to embark on this amazing financial journey with us.
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // CONTENT TABLE -->
                                                                    <!-- CONTENT TABLE // -->
                                                                    <table align="Right" border="0" cellpadding="0" cellspacing="0" width="200" class="flexibleContainer">
                                                                        <tr>
                                                                            <td align="Left" valign="top" class="imageContent">
                                                                                <img src="assets/img/logo.png" width="200" class="flexibleImage" style="max-width:200px;" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // CONTENT TABLE -->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // FLEXIBLE CONTAINER -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CENTERING TABLE -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- CENTERING TABLE // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" valign="top">
                                            <!-- FLEXIBLE CONTAINER // -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="800" class="flexibleContainer">
                                                <tr>
                                                    <td align="center" valign="top" width="800" class="flexibleContainerCell bottomShim">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                                            <tr>
                                                                <td valign="top" class="nestedContainerCell">
                                                                    <!-- CONTENT TABLE // -->
                                                                    <table align="Left" border="0" cellpadding="0" cellspacing="0" width="200" class="flexibleContainer">
                                                                        <tr>
                                                                            <td align="Left" valign="top" class="imageContent">
                                                                                <img src="assets/img/logo.png" width="200" class="flexibleImage" style="max-width:200px;" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // CONTENT TABLE -->
                                                                    <!-- CONTENT TABLE // -->
                                                                    <table align="Right" border="0" cellpadding="0" cellspacing="0" width="480" class="flexibleContainer">
                                                                        <tr>
                                                                            <td valign="top" class="textContent">
                                                                                <h3>Your Digital Financial Team</h3>
                                                                                <br />
                                                                                <ul>
                                                                                    <li>One stop solution for all your financial needs</li>
                                                                                    <li>Real time tracking of progress of every service you avail</li>
                                                                                    <li>Document management system- Every important financial document is just a click away</li>
                                                                                    <li>Strategize with us and explore new opportunities</li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // CONTENT TABLE -->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // FLEXIBLE CONTAINER -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CENTERING TABLE -->
                            </td>
                        </tr>
                        <!-- // MODULE ROW -->
                    </table>
                    <!-- // EMAIL CONTAINER -->
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr style="background-color:#ebfcf9;">
                <td align="center" valign="top">
                    <!-- CENTERING TABLE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top">
                                <!-- FLEXIBLE CONTAINER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="800" class="flexibleContainer">
                                    <tr>
                                        <td align="center" valign="top" width="800" class="flexibleContainerCell bottomShim">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                                <tr>
                                                    <td valign="top" class="nestedContainerCell">
                                                        <!-- CONTENT TABLE // -->
                                                        <table align="Left" border="0" cellpadding="0" cellspacing="0" width="480" class="flexibleContainer">
                                                            <tr>
                                                                <td valign="top" class="textContent">
                                                                    <h3>We're so happy<br> to have you here.</h3>
                                                                    <br />
                                                                    Congratulations on choosing the best strategic partner. Get ready to embark on this amazing financial journey with us.
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->
                                                        <!-- CONTENT TABLE // -->
                                                        <table align="Right" border="0" cellpadding="0" cellspacing="0" width="200" class="flexibleContainer">
                                                            <tr>
                                                                <td align="Left" valign="top" class="imageContent">
                                                                    <img src="assets/img/logo.png" width="200" class="flexibleImage" style="max-width:200px;" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // FLEXIBLE CONTAINER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // CENTERING TABLE -->
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <!-- CENTERING TABLE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top">
                                <!-- FLEXIBLE CONTAINER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="800" class="flexibleContainer">
                                    <tr>
                                        <td align="center" valign="top" width="800" class="flexibleContainerCell bottomShim">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                                <tr>
                                                    <td valign="top" class="nestedContainerCell">
                                                        <!-- CONTENT TABLE // -->
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="480" class="flexibleContainer">
                                                            <tr>
                                                                <td valign="top" align="center" class="textContent">
                                                                    <h3>We're so happy<br> to have you here.</h3>
                                                                    <br />
                                                                    Congratulations on choosing the best strategic partner. Get ready to embark on this amazing financial journey with us.
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->                                                        
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // FLEXIBLE CONTAINER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // CENTERING TABLE -->
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <!-- // Begin Template Footer \\ -->
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #ffffff;border-top: 0;">
                        <tbody>
                            <tr>
                                <td valign="top" class="footerContent">
                                    <!-- // Begin Module: Standard Footer \\ -->
                                    <table border="0" cellpadding="10"  cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" align="center" width="370">
                                                    <br>
                                                    <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;"> <em>Copyright © 2012 Native Shoes, All rights reserved.</em><br>
                                                        <!--  -->
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" valign="middle" id="social" style="background-color: #ffffff;border: none;">
                                                    <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                        <center>
                                                            <div style="width: 225px;margin: 0 auto;color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                <a href="http://nativeshoes.com" target="_blank" style="color: #f4c475;font-weight: normal;text-decoration: underline;"><img align="left" height="53" src="http://gallery.mailchimp.com/011c4f2dc6886468699942979/files/qC22aM.jpeg" style="float: left;width: 54px;height: 53px;border: none;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;" width="54"></a><a href="https://twitter.com/nativeshoes" target="_blank" style="color: #f4c475;font-weight: normal;text-decoration: underline;"><img align="left" height="53" src="http://gallery.mailchimp.com/011c4f2dc6886468699942979/files/nativeshoes_1.jpg" style="float: left;width: 54px;height: 53px;border: none;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;" width="54"></a><a href="https://facebook.com/nativeshoes" target="_blank" style="color: #f4c475;font-weight: normal;text-decoration: underline;"><img align="left" height="53" src="http://gallery.mailchimp.com/011c4f2dc6886468699942979/files/native_news_header.jpg" style="float: left;width: 54px;height: 53px;border: none;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;" width="54"></a><a href="http://us1.forward-to-friend1.com/forward?u=011c4f2dc6886468699942979&amp;id=bc7c94356d&amp;e=[UNIQID]" style="color: #f4c475;font-weight: normal;text-decoration: underline;"><img align="left" height="53" src="http://gallery.mailchimp.com/011c4f2dc6886468699942979/files/__7CFORWARD_7C_.jpeg" style="float: left;width: 54px;height: 53px;border: none;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;" width="54"></a></div>
                                                        </center>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td colspan="2" valign="middle" id="utility" style="background-color: #ffffff;border-top: none;">
                                                    <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                        &nbsp;<a href="http://nativeshoes.us1.list-manage1.com/unsubscribe?u=011c4f2dc6886468699942979&amp;id=aaaecb4f5e&amp;e=[UNIQID]&amp;c=bc7c94356d" style="color: #f4c475;font-weight: normal;text-decoration: underline;">unsubscribe from this list</a> | <a href="http://nativeshoes.us1.list-manage2.com/profile?u=011c4f2dc6886468699942979&amp;id=aaaecb4f5e&amp;e=[UNIQID]" style="color: #f4c475;font-weight: normal;text-decoration: underline;">update subscription preferences</a><!--  -->&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // End Module: Standard Footer \\ -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- // End Template Footer \\ -->
                </td>
            </tr>
        </table>
    </center> #}
</body>

</html>